---
import { getPlanetName } from "../scripts/getPlanetName";
import { namePlanet } from "../data/data";

import BaseLayout from "../layouts/BaseLayout.astro";
import dataFact from "../data/data.json";
import MobileTabsLayout from "../layouts/MobileTabsLayout.astro";
import PlanetCharacteristic from "../components/PlanetCharacteristic.astro";
import PlanetOverview from "../components/PlanetOverview.astro";

const pageTitle = "Mercury";
const currentPlanet = getPlanetName(Astro.url.pathname, namePlanet);

const mercuryData = dataFact.find((planet) => planet.name === currentPlanet);
---

<BaseLayout pageTitle={pageTitle}>
  <MobileTabsLayout colorTab="border-b-pelorous" />

  <PlanetOverview planet={mercuryData} />

  <div
    class="mt-8 grid grid-cols-1 gap-2 md:mt-12 md:grid-cols-4 xl:mt-16 xl:gap-8"
  >
    <PlanetCharacteristic
      characteristic="rotation time"
      data={mercuryData?.rotation}
    />
    <PlanetCharacteristic
      characteristic="revolution time"
      data={mercuryData?.revolution}
    />
    <PlanetCharacteristic characteristic="radius" data={mercuryData?.radius} />
    <PlanetCharacteristic
      characteristic="average temp."
      data={mercuryData?.temperature}
    />
  </div>
</BaseLayout>
