---
import { getPlanetName } from "../scripts/getPlanetName";
import { namePlanet } from "../data/data";

import BaseLayout from "../layouts/BaseLayout.astro";
import dataFact from "../data/data.json";
import PlanetCharacteristic from "../components/PlanetCharacteristic.astro";
import PlanetOverview from "../components/PlanetOverview.astro";

const pageTitle = "🟤 Mars";
const currentPlanet = getPlanetName(Astro.url.pathname, namePlanet);

const marsData = dataFact.find((planet) => planet.name === currentPlanet);
---

<BaseLayout pageTitle={pageTitle}>
  <PlanetOverview
    planet={marsData}
    colorTab="border-b-valencia"
    activeColor="bg-valencia"
  />

  <div
    class="mt-8 grid grid-cols-1 gap-2 md:mt-12 md:grid-cols-4 xl:mt-16 xl:gap-8"
  >
    <PlanetCharacteristic
      characteristic="rotation time"
      data={marsData?.rotation}
    />
    <PlanetCharacteristic
      characteristic="revolution time"
      data={marsData?.revolution}
    />
    <PlanetCharacteristic characteristic="radius" data={marsData?.radius} />
    <PlanetCharacteristic
      characteristic="average temp."
      data={marsData?.temperature}
    />
  </div>
</BaseLayout>
